<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar">

	<insert id="insertCalendar" parameterType="com.catDog.calendar.MyCalendar">
		INSERT INTO festival(festivalNum, num, subject, content, color, startDate, endDate, startTime, endTime, addr)
		VALUES(festival_seq.NEXTVAL, #{num}, #{subject}, #{content}, #{color}, #{startDate}, #{endDate}, 
		#{startTime, jdbcType=VARCHAR}, #{endTime, jdbc=VARCHAR}, #{addr})
	</insert>

	<select id="listMonth">
		SELECT fesivalNum, subject
	</select>
	
	<select id="listDay">
	
	</select>
	
	<select id="readCalendar">
	
	</select>
	
	<update id="updateCalendar">
	
	</update>
	
	<delete id="deleteCalendar">
	
	</delete>
</mapper>