<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dogshop">
	<select id="smallSortList" resultType="com.catDog.dogShop.DogShop">
		SELECT smallSortNum, sortName, bigSortNum
		FROM smallSort
		WHERE bigSortNum = 1
	</select>
	
	<select id="productSeq" resultType="Integer">
		SELECT PRODUCT_SEQ.NEXTVAL FROM dual
	</select>
	
	<select id="listDogProduct" parameterType="map" resultType="com.catDog.dogShop.DogShop">
		SELECT p.productNum, p.name, p.price, pp.imageFileName, smallSortNum
		FROM product p
		JOIN productPic pp ON p.productNum = pp.productNum
		<where>
			<if test="smallSortNum!=0">
				smallSortNum=#{smallSortNum}
			</if>
				AND INSTR(pp.imageFileName,'main') &gt; 0
		</where>
		
		 ORDER BY p.productNum DESC
		 OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM product
		<if test="smallSortNum!=0">
			WHERE smallSortNum=#{smallSortNum}
		</if>
	</select>

	<insert id="insertDogProduct" parameterType="com.catDog.dogShop.DogShop">
		INSERT INTO product(PRODUCTNUM, NAME, PRICE, CONTENT, SMALLSORTNUM) 
		VALUES(#{productNum}, #{name}, #{price}, #{content}, #{smallSortNum})
	</insert>
	
	<insert id="insertImgFile" parameterType="com.catDog.dogShop.DogShop">
		INSERT INTO productPic(productPicNum, imageFileName, productNum) 
		VALUES(PRODUCTPIC_SEQ.NEXTVAL, #{imageFileName}, #{productNum})
	</insert>
	
	<select id="readProduct" parameterType="Integer" resultType="com.catDog.dogShop.DogShop">
		SELECT p.productNum, p.name, price, p.content, pp.imageFileName, smallSortNum, p.created
		FROM product p
		JOIN productPic pp ON p.productNum = pp.productNum
		WHERE p.productNum = #{productNum}
	</select>
	
</mapper>