<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dogshop">
	<select id="bigSortList" resultType="com.catDog.dogShop.DogShop">
		SELECT bigSortNum, sortName
		FROM bigSort
	</select>

	<select id="smallSortList" resultType="com.catDog.dogShop.DogShop">
		SELECT smallSortNum, sortName, bigSortNum
		FROM smallSort
		WHERE bigSortNum = 1
	</select>
	
	<select id="productSeq" resultType="Integer">
		SELECT PRODUCT_SEQ.NEXTVAL FROM dual
	</select>

	
	<select id="listDogProduct" parameterType="map" resultType="com.catDog.dogShop.DogShop">
		SELECT productNum, name, price, imageFileName, smallSortNum
		FROM product p
		<where>
			<if test="smallSortNum!=0">
				smallSortNum=#{smallSortNum}
			</if>
		</where>
		
		 ORDER BY p.productNum DESC
		 OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM product
		<if test="smallSortNum!=0">
			WHERE smallSortNum=#{smallSortNum}
		</if>
	</select>

	<insert id="insertDogProduct" parameterType="com.catDog.dogShop.DogShop">
		INSERT INTO product(PRODUCTNUM, NAME, PRICE, CONTENT, SMALLSORTNUM,IMAGEFILENAME) 
		VALUES(#{productNum}, #{name}, #{price}, #{content}, #{smallSortNum},#{imageFileName})
	</insert>
	
	<insert id="insertImgFile" parameterType="com.catDog.dogShop.DogShop">
		INSERT INTO productPic(productPicNum, imageFileName, productNum) 
		VALUES(PRODUCTPIC_SEQ.NEXTVAL, #{imageFileName}, #{productNum})
	</insert>
	
	<select id="readProduct" parameterType="Integer" resultType="com.catDog.dogShop.DogShop">
		SELECT productNum,name, price, content, smallSortNum, imageFileName, created
		FROM product
		WHERE productNum = #{productNum}
	</select>
	
	<select id="readProductPic" parameterType="Integer" resultType="com.catDog.dogShop.DogShop">
		SELECT productNum, productPicNum,imageFileName 
		FROM productPic
		WHERE productNum = #{productNum}
	</select>
	
	<select id="readPicNum" parameterType="String" resultType="com.catDog.dogShop.DogShop">
		SELECT productNum, productPicNum,imageFileName 
		FROM productPic
		WHERE productPicNum = #{productPicNum}
	</select>
	
	<update id="updateProduct" parameterType="com.catDog.dogShop.DogShop">
		UPDATE product SET name=#{name}, price=#{price}, content=#{content}, smallSortNum=#{smallSortNum}, imageFileName=#{imageFileName} 
		WHERE productNum=#{productNum}
	</update>
	
	<delete id="deleteProduct" parameterType="Integer">
		DELETE FROM product WHERE productNum=#{productNum} 
	</delete>
	
	<delete id="deleteProductPic" parameterType="Integer">
		DELETE FROM productPic WHERE productNum=#{productNum}
	</delete>
	
	<delete id="deletePic" parameterType="String">
		DELETE FROM productPic WHERE productPicNum = #{productPicNum}
	</delete>
</mapper>