<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mpadoption">
	<select id="seq" resultType="Integer">
		select adoption_seq.nextval from dual
	</select>
	                          
	<sql id="where-list">
		<choose>
			<when test="condition == 'subject'">
				(INSTR(subject, #{keyword}) &gt; 0)
			</when>
			<when test="condition == 'content'">
				DBMS_LOB.instr(content, #{keyword}) &gt; 0
			</when>
			<when test="condition=='created'">
				(to_char(created, 'yyyy-mm-dd') = #{keyword}
				 or to_char(created, 'yyyymmdd') = #{keyword})
			</when>
			<when test="condition=='nickName'">
				instr(nickName, #{keyword}) &gt; 0
			</when>
		</choose>
	</sql>
	
	<select id="listMpAdoption" parameterType="map" resultType="com.catDog.mpadoption.Mpadoption">
		SELECT adoptionNum, speciesSort, status, TO_CHAR(created, 'yyyy.mm.dd') adoptionCreted,
		subject adoptionSubject, hitCount adoptionHitCount, nickName, num
		FROM adoption
		<where>
			<if test="keyword != null and keyword != ''">
				<include refid="where-list"/>
			</if>
			AND num=#{num}
		</where>
		ORDER BY adoptionNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="dataCountMpAdoption" parameterType="map" resultType="Integer">
		SELECT NVL(count(*),0) FROM adoption
		<where>
			<if test="keyword!=null and keyword != '' ">
				<include refid="where-list"/>
			</if>
			AND num=#{num}
		</where>
	</select>

</mapper>