<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mpadoption">
	<select id="seq" resultType="Integer">
		select qna_seq.nextval from dual
	</select>
	
	<sql id="where-list">
		<choose>
			<when test="condition == 'subject'">
				(INSTR(q.subject, #{keyword}) &gt; 0)
			</when>
			<when test="condition == 'content'">
				DBMS_LOB.instr(q.content, #{keyword}) &gt; 0
			</when>
			<when test="condition=='created'">
				(to_char(q.created, 'yyyy-mm-dd') = #{keyword}
				 or to_char(q.created, 'yyyymmdd') = #{keyword})
			</when>
			<when test="condition=='nickName'">
				instr(nickName, #{keyword}) &gt; 0
			</when>
		</choose>
	</sql>
	
	<select id="listMpQna" parameterType="map" resultType="com.catDog.mpadoption.Mpadoption">
		SELECT q.qnaNum qnaNum, md.userId, nickName, q.num, q.subject qnaSubject,
		       q.parent, NVL2(q2.parent, 1, 0) qnaIsAnswer,
		       TO_CHAR(q.created, 'YYYY-MM-DD') qnaCreated,
		       q.qnaCategoryNum, qnaCategory
		FROM qna q
		LEFT OUTER JOIN qna q2 ON q.qnaNum = q2.parent
		JOIN qnaCategory c ON q.qnaCategoryNum=c.qnaCategoryNum
		JOIN memberDetail md ON q.num=md.num
		<where>
			<if test="keyword != null and keyword != ''">
				<include refid="where-list"/>
			</if>
			AND q.parent IS NULL
			AND q.num=#{num}
		</where>
		ORDER BY qnaNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="dataCountMpQna" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM qna q
		JOIN memberDetail md ON q.num=md.num
		<where>
			<if test="keyword!=null and keyword != '' ">
				<include refid="where-list"/>
			</if>
			AND q.parent IS NULL
			AND q.num=#{num}
		</where>
	</select>

</mapper>