<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="park">
	<select id="seq" resultType="Integer">
		SELECT recommend_seq.NEXTVAL FROM dual
	</select>

	<insert id="insertPark" parameterType="com.catDog.park.Park">
		INSERT INTO recommend(recommendNum, sortNum, num, placeName, content, tel, addr, lat, lon) 
		VALUES(#{recommendNum}, 1, #{num}, #{placeName}, #{content}, #{tel}, #{addr}, #{lat}, #{lon})
	</insert>
	
	<insert id="insertImgFile" parameterType="com.catDog.park.Park">
		INSERT INTO recommendPic(recommendPicNum, imageFileName, recommendNum) 
		VALUES(recommendPic_seq.NEXTVAL, #{imageFileName}, #{recommendNum})
	</insert>
	
	<select id="listPark" parameterType="map" resultType="com.catDog.park.Park">
		SELECT r.recommendNum, r.placeName, r.content, rp.imageFileName
		FROM recommend r
		JOIN recommendPic rp ON r.recommendNum = rp.recommendNum
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY r.recommendNum DESC
	</select>
	
	<sql id="where-list">
		<if test="condition=='all'">
			( INSTR(placeName, #{keyword}) &gt; 0
				OR INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='placeName'">
			INSTR(placeName, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content'">
			INSTR(content, #{keyword}) &gt; 0 
		</if>
	</sql>
	
</mapper>