<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet">
	<insert id="insertPet" parameterType="com.catDog.pet.Pet">
		INSERT INTO myPet(myPetNum, num, subject, imageFileName) 
		VALUES(myPet_seq.NEXTVAL, #{num}, #{subject}, #{imageFileName})
	</insert>
	
	<sql id="where-list">
		<if test="condition=='all'">
			( INSTR(subject, #{keyword}) &gt; 0
				OR INSTR(created, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='subject'">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='created'">
			( TO_CHAR(mp.created, 'YYYY-MM-DD') = #{keyword}
				OR TO_CHAR(mp.created, 'YYYYMMDD') = #{keyword} )
		</if>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(count(*), 0)
		FROM myPet mp
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listPet" parameterType="map" resultType="com.catDog.pet.Pet">
		SELECT mp.myPetNum, mp.subject, mp.imageFileName, mp.num, TO_CHAR(created, 'yyyy.mm.dd') as created
		FROM myPet mp
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY myPetNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	 
	<select id="readPet" parameterType="Integer" resultType="com.catDog.pet.Pet">
		SELECT mp.myPetNum, md.nickName, md.userId, mp.subject, mp.hitCount, TO_CHAR(mp.created, 'yyyy.mm.dd') created, mp.num, mp.imageFileName
		FROM myPet mp
		JOIN memberDetail md ON md.num = mp.num
		WHERE mp.myPetNum=#{myPetNum}
	</select>

	<update id="updateHitCount" parameterType="Integer">
		UPDATE myPet mp SET hitCount=hitCount+1 WHERE myPetNum = #{myPetNum}
	</update>
	
	<select id="preReadPet" parameterType="map" resultType="com.catDog.pet.Pet">
		SELECT myPetNum, subject
		FROM myPet mp
	<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
			AND (myPetNum &gt; #{myPetNum})
		</where>
		ORDER BY myPetNum ASC
		FETCH FIRST 1 ROWS ONLY
	</select>

	<select id="nextReadPet" parameterType="map" resultType="com.catDog.pet.Pet">
		SELECT myPetNum, subject
		FROM myPet mp
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
			AND (myPetNum &lt; #{myPetNum})
		</where>
		ORDER BY myPetNum DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<update id="updatePet" parameterType="com.catDog.pet.Pet">
		UPDATE myPet SET subject=#{subject}, imageFileName=#{imageFileName}
		WHERE myPetNum=#{myPetNum}
	</update>
	
	<delete id="deletePet" parameterType="Integer">
		DELETE FROM myPet WHERE myPetNum=#{myPetNum}
	</delete>
	
	<insert id="insertPetLike" parameterType="map">
		INSERT INTO myPetLike(myPetNum, num) VALUES (#{myPetNum}, #{num})
	</insert>
      
	<select id="petLikeCount" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM myPetLike WHERE myPetNum=#{myPetNum}
	</select>
	
	<insert id="insertPetReport" parameterType="map">
		INSERT INTO report(reportNum, boardSort, reportedPostNum, reporterNum, reportedNum, reasonSortNum)
		VALUES (report_seq.NEXTVAL, 2, #{reportedPostNum}, #{reporterNum}, #{reportedNum}, #{reasonSortNum})
	</insert>
      
	<select id="petReportCount" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM report WHERE reportNum=#{reportNum}
	</select>

</mapper>