<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="point">
	<select id="listPoint" parameterType="map" resultType="com.catDog.mypage.Point">
		SELECT pd.num, pd.point, pd.content, md.userId, md.mileage, TO_CHAR(pd.created, 'yyyy.mm.dd') created, pd.checked
		FROM pointDetail pd JOIN memberDetail md ON pd.num = md.num
		ORDER BY pd.created DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="readPoint" parameterType="Integer" resultType="com.catDog.mypage.Point">
		SELECT pd.num, pd.point, pd.content, md.userId, md.mileage, TO_CHAR(pd.created, 'yyyy.mm.dd') created, pd.checked
		FROM FROM pointDetail pd JOIN memberDetail md ON pd.num = md.num
		WHERE pd.num=#{num} AND md.userId=#{userId}
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM pointDetail pd
	</select>
</mapper>