@charset "UTF-8";

.sortName:hover, .sortName:active{
	cursor: pointer;
	color: #A66E4E;
	font-weight: bold;
}
 p{
	padding: 0px;
	margin: 0px;
} 
a.sortName{
	display: inline-block;
	text-align: center;
	width : 125px;
	height : 50px;
	line-height : 50px;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	text-decoration: none;
	color:#262626;
}


.link{
	cursor: pointer;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 0px;
}
.sortList{
	width: 100%;
	margin: 0px auto;
	text-align: center;
}
.sortActive {
	color: #A66E4E;
	font-weight: bold;
}

.main-img{
	min-height: 600px;
	min-width: 600px;
	max-width: 650px;
	max-height: 650px;
}

.product-info{
    width: 1200px;
    margin: 0px auto;
    padding: 50px 0px;
	min-height: 700px;
}

.product-img{
	width: 50%;
	float: left;
}

.product-info-detail{
	width: 45%;
	float: left;
	padding-left: 50px;
}

.productList > img {
	width: 100px;
}

.imgList{
	width: 100%;
	padding: 20px 0px;
}

.sub-img > img {
	width: 100px;
	float: left;
	padding: 1px;
	margin: 0px 10px;
	cursor: pointer;
}

.productLink{
	cursor: pointer;
    text-align: center;
    height: 250px;
    position: relative;
}

.product-image{
	
}

.product-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
}

.sub-img > img:hover, .sub-img > img:active {
	cursor: pointer;
	border: 3px solid #262626; 
}

.count_up{
	background-image: url(../img/upload.png);
	background: #f2f2f2;
	border: none;
	cursor: pointer;
	height: 10px;
}

.shin_body{
	width: 1200px;  
	margin: 10px auto;
}

.productList > table{
	width: 100%;
	margin: 0px auto;
	border-collapse: collapse;
	border-spacing: 0;
}



.btnList{
	width: 100%;
}

.btn_left_box{
	float: left;
}

.btn_right_box{
	float: right;
}

.cartList{
	width: 100%;
}

.cartTable{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0px auto;
	text-align: center;
}

.cartTable > tr{
	text-align: center;
}


.order_tit > li{
	display: inline;
}


.order_tit > ol{
	list-style: none;
}

.product_btn{
	margin: 10px 0px;
}

.product_btn > .payBtn {
	background: #d96363;
    color: white;
    border: 1px solid #d96363;
    width: 49.6%;
    height: 50px;
}

.product_btn > .cartBtn {
	background: white;
	color:#262626;
	border: 1px solid #d8d8d8;
	width: 49.6%;
	height: 50px;
}

.admin_btn{
	float:right;
	text-align: right;
	width: 50%;
}

.admin_btn > button{
	background: white;
	color:#262626;
	border: 1px solid #d8d8d8;
	width: 49%;
}

.dialog_cancel{
	background: white;
	color:#262626;
	border: 1px solid #d8d8d8;
	width: 30%;
}

.dialog_submit{
	background: #D96262;
	color: white;
	border: 1px solid #D96262;
	width: 30%;
}

.payProduct > table{
	width: 100%;
	margin: 0px auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.payProduct > table > tr > td{
	border: 1px solid #d8d8d8;
}